* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;

  --gray-200: #D7D7D7;
  --gray-300: #BBBBBB;
  --gray-900: #1A1D23;

  --pink-500: #FF57B2;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--gray-900);
  color: var(--white);
}

body, input, textarea, select, button {
  font: 400 1rem "Inter", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
