.post {
  max-width: 720px;
  margin: 4rem auto 0;

  .info {
    margin-top: 2rem;

    display: flex;
    align-items: center;

    span {
      margin-left: 0.5rem;
      display: flex;
      align-items: center;
    }

    svg {
      display: flex;
      align-items: center;
    }
  }

  .postContent {
    margin-top: 4rem;
  }
}


